* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: "Nixie One";
  src: url("../fonts/NixieOne-Regular.otf") format("otf"); }
.hidden {
  display: none; }

#body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 2px solid black;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 767px) {
    #body-wrapper {
      flex-direction: column; } }

.body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  width: 41.5241057543%;
  height: 100%;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .body-left {
      height: 300px;
      width: 100%; } }

.body-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 2px solid black;
  width: 58.4758942457%;
  flex-direction: column; }
  @media screen and (max-width: 767px) {
    .body-right {
      width: 100%;
      height: calc(100% - 300px); } }
  .body-right #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid black;
    width: 57.975894%;
    position: fixed;
    height: 76px; }
    @media screen and (max-width: 767px) {
      .body-right #header {
        width: 100%;
        position: static;
        height: 76px;
        margin-top: 20px; } }
  .body-right .content {
    margin-top: 76px;
    width: 100%;
    overflow: auto; }
    @media screen and (max-width: 767px) {
      .body-right .content {
        margin-top: 0px;
        overflow: visible; } }
  .body-right #cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid black;
    width: 57.987894% !important;
    position: fixed;
    bottom: 0px;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .body-right #cart {
        width: 99% !important;
        position: static; } }

.body-left {
  background: url("../img/event-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .body-left h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    padding: 20px 0px 0px 20px; }
  .body-left #description {
    color: #ffffff;
    padding: 0px 0px 20px 20px; }
    .body-left #description h2 {
      font-size: 38px;
      line-height: 38px; }
    .body-left #description h4 {
      padding-top: 5px;
      text-transform: uppercase; }

.body-right #header {
  background-color: #ffffff;
  z-index: 1000; }
  .body-right #header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .body-right #header ul li {
      padding: 10px; }
.body-right #cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #ffffff;
  z-index: 1000;
  justify-content: space-between; }
  .body-right #cart .total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .body-right #cart .total > * {
      padding: 5px; }

#buy-tickets-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 20px;
  margin-bottom: 25px; }
  @media screen and (max-width: 767px) {
    #buy-tickets-content ul {
      margin-bottom: 0px;
      padding-bottom: 10px; } }
  #buy-tickets-content ul .ticket-container {
    border: 1px solid black;
    width: 50%;
    padding: 10px; }
    @media screen and (max-width: 991px) {
      #buy-tickets-content ul .ticket-container {
        width: 100%; } }

.ticket-inner-wrapper {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 7px;
  flex-direction: column; }
  .ticket-inner-wrapper .ticket-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .ticket-inner-wrapper .ticket-header .tt-pricing {
      border: 1px solid black; }
    .ticket-inner-wrapper .ticket-header .tt-add {
      border: 1px solid black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .ticket-inner-wrapper .ticket-header .tt-add .tt-qty {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around; }

/*# sourceMappingURL=main.css.map */
