//Vendor Prefix mixins
//Read https://sass-guidelin.es/#mixins to know more about vendor prefixing

@mixin prefix($property, $value, $prefixes: ())
  @each $prefix in $prefixes
    -#{$prefix}-#{$property}: $value

  #{$property}: $value

@mixin flexed
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex



//Commonly used styles

//For Layout-Border
@mixin lb($width)
  border: #{$width}px solid black


//Mixin for breakpoint

@mixin break($size)
  $sc-size: $size
  @media screen and (max-width: $sc-size)  
    @content
