.body-right
    #header
        background-color: #ffffff
        z-index: 1000

        ul
            @include flexed()
            align-items: center

            li
                padding: 15px

    #cart  
        @include flexed()
        
        justify-content: center