//For positioning amongs different components of the page

#body-wrapper
    @include flexed()
    @include lb(2)
    width: 100%
    height: 100%

.body-left
    @include flexed()
    @include lb(2)
    flex-direction: column
    width: 534/1286 * 100%
    height: 100%
    justify-content: space-between


.body-right
    @include flexed()
    @include lb(2)
    width: (1286-534)/1286 * 100%
    flex-direction: column
    // ::-webkit-scrollbar-track
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    //     border-radius: 10px
    //     background-color: #F5F5F5
    // ::-webkit-scrollbar
    //     width: 12px
    //     background-color: #F5F5F5
    // ::-webkit-scrollbar-thumb
    //     border-radius: 10px
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    //     background-color: #D62929


    #header
        @include flexed()
        @include lb(1)
        width: 57.975894%
        position: fixed
        height: 76px

    .content
        margin-top: 76px
        width: 100%
        overflow: auto 

    #cart
        @include flexed()
        @include lb(1)
        width: 57.987894% !important
        position: fixed
        bottom: 0px
        width: 100%
